@font-face {
  font-family: "Gotham Bold";
  src: url("/fonts/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Light Italic";
  src: url("/fonts/Gotham-LightItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Black";
  src: url("/fonts/Gotham-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #121212;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #181818;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

h1 {
  font-family: "Gotham Black";
}

h2 {
  text-align: left;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: "Gotham Black";
}

h3 {
  font-family: "Gotham Bold";
}

p {
  font-family: "Gotham Light Italic";
}

button.album-cover {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.album-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

button.album-cover .play-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 215, 96, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 12px;
}

button.album-cover .play-button::before {
  content: "▶";
  font-size: 40px;
  color: white;
}

button.album-cover:hover .play-button {
  opacity: 1;
}

.info {
  margin-left: 1em;
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #282828;
  border-radius: 10px;
  padding: 10px;
  margin: 8px 0;
  transition: background 0.3s;
}

li:hover {
  background: #333;
}

.profile-image {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #1db954;
  transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
  transform: scale(1.1);
}

input[type="text"] {
  width: calc(100% - 24px);
  padding: 12px;
  font-size: 16px;
  border: 2px solid #1db954;
  border-radius: 25px;
  background-color: #181818;
  color: white;
  outline: none;
  text-align: center;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #1ed760;
}

@media (max-width: 600px) {
  #app {
    width: 90%;
    padding: 15px;
  }

  li {
    flex-direction: column;
    text-align: center;
  }

  button.album-cover {
    width: 80px;
    height: 80px;
  }
}
